$white: rgb(255, 255, 255);
header {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  .brand {
    display: flex;
    justify-content: space-between;
    padding: 32px 24px;
    align-items: center;
    .brand-name {
      font-size: 32px;
      font-weight: 700;
      color: $white;
    }
  }
  .switch {
    width: 40px;
    height: 20px;
    border-radius: 20px;
    background-color: $white;
    position: relative;
    .slider {
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #5964e0;
      position: absolute;
      top: 2px;
      left: 2px;
      transition: transform 0.2s ease;
    }
    &.active {
      background-color: $white;
    }
    &.active .slider {
      transform: translateX(20px);
    }
  }
}
