$white: rgb(255, 255, 255);

$grey: rgb(157, 174, 194);

.modal-style {
  width: 327px;
  background-color: $white;
  border-radius: 6px;
  input[type="search"] {
    border-radius: 6px;
    width: 100%;
  }
  input[type="checkbox"] {
    margin-right: 8px;
    width: 16px;
    height: 16px;
  }
  .icon-wrapper {
    display: flex;
    justify-content: center;
    width: 28px;
    height: 28px;
    padding: 4px;
  }
  .input-wrapper {
    padding: 24px 24px;
    display: flex;
  }
}
