$white: rgb(255, 255, 255);
$midnight: rgb(18, 23, 33);
$lightgrey: rgb(244, 246, 248);
$grey: rgb(157, 174, 194);
$darkgrey: rgb(110, 128, 152);
$violet: rgb(89, 100, 224);
.light {
  background-color: $lightgrey;
}
.dark {
  background-color: $midnight;
}
.App {
  width: 100%;
  main {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .more {
    background-color: $violet;
    border: none;
    color: $white;
    padding: 16px 32px;
    border-radius: 8px;
    font-weight: 700;
    margin: 32px 0;
    max-width: 152px;
    align-self: center;
  }
}

@media (max-width: 375px) {
  header {
    background-image: url("./assets/mobile/bg-pattern-header.svg");
  }
  .jobs {
    margin-top: 256px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
  }
  .job-post {
    .postedAt {
      margin: 12px 0 0 0;
    }
    .location {
      margin-top: 16px;
    }
  }
} ;
