$white: rgb(255, 255, 255);
$midnight: rgb(18, 23, 33);
$lightgrey: rgb(244, 246, 248);
$grey: rgb(157, 174, 194);
$darkgrey: rgb(110, 128, 152);
$violet: rgb(89, 100, 224);
.light {
  background-color: $white;
}
.dark {
  background-color: $midnight;
}
.App {
  width: 100%;
  background-color: $lightgrey;
}

@media (max-width: 375px) {
  header {
    background-image: url("./assets/mobile/bg-pattern-header.svg");
    margin-bottom: 72px;
  }
  .jobs {
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
  }
  .job-post {
    .postedAt {
      margin: 12px 0 0 0;
    }
    .location {
      margin-top: 16px;
    }
  }
} ;
