$white: rgb(255, 255, 255);
$midnight: rgb(18, 23, 33);
$lightgrey: rgb(244, 246, 248);
.light {
  background-color: $white;
}
.dark {
  background-color: $midnight;
}
.App {
  height: 100vh;
  width: 100%;
  background-color: $lightgrey;
}

@media (max-width: 375px) {
  header {
    background-image: url("./assets/mobile/bg-pattern-header.svg");
  }
} ;
